<div class="cart-container pt-5 pb-5">
  <div class="cart-card">
    <div class="cart-card__header">
      <h5 class="cart-card__title">Cart</h5>
    </div>
    <div class="cart-card__body">
      <div *ngIf="cartItems.length === 0" class="cart-card__empty">
        <p>Your cart is empty.</p>
      </div>
      <div *ngIf="cartItems.length > 0">
        <div class="row">
          <div *ngFor="let item of cartItems" class="cart-item col-12">
            <div class="cart-item__card card mb-3">
              <div class="row no-gutters">
                <div class="cart-item__image col-md-4">
                  <img
                    [src]="item.image"
                    [alt]="item.title"
                    class="cart-item__image-img card-img"
                  />
                </div>
                <div class="cart-item__details col-md-8">
                  <div class="card-body">
                    <h6 class="cart-item__title card-title">
                      {{ item.title }}
                    </h6>
                    <p class="cart-item__price card-text">
                      Price: ${{ item.price }}
                    </p>
                    <p class="cart-item__count card-text">
                      Count: {{ item.count }}
                    </p>
                    <button
                      type="button"
                      class="cart-item__remove-btn btn btn-danger"
                      (click)="removeFromCart(item)"
                    >
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="cart-card__clear-btn btn btn-danger mt-3"
          (click)="clearCart()"
        >
          Clear Cart
        </button>
      </div>
    </div>
  </div>
</div>
