@import '../../../../assets/ec-variables/colour.scss';
@import '../../../../assets/ec-variables/font.scss';

.footer {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 159, 141, 1) 0%, rgba(134, 237, 234, 1) 68%, rgba(255, 255, 255, 1) 99%);
    padding: 40px 0;
}

.footer h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: $Elite;
}

.footer ul li {
    padding: 5px 0;
    font-family: $poppins;
    font-weight: bold;


}

.footer ul li:hover {
    color: $colourBlue;
}