<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- Footer section 1 -->
          <h5>Get to Know Us</h5>
          <ul class="list-unstyled">
            <li>About Us</li>
            <li>Careers</li>
            <li>Press Releases</li>
          </ul>
        </div>
        <div class="col-md-3">
          <!-- Footer section 2 -->
          <h5>Make Money with Us</h5>
          <ul class="list-unstyled">
            <li>Sell on Your Site</li>
            <li>Sell on slack</li>
            <li>Become an Affiliate</li>
          </ul>
        </div>
        <div class="col-md-3">
          <!-- Footer section 3 -->
          <h5>Slack Payment Products</h5>
          <ul class="list-unstyled">
            <li>Slack Business Card</li>
            <li>Shop with Points</li>
            <li>Reload Your Balance</li>
          </ul>
        </div>
        <div class="col-md-3">
          <!-- Footer section 4 -->
          <h5>Let Us Help You</h5>
          <ul class="list-unstyled">
            <li>Your Account</li>
            <li>Your Orders</li>
            <li>Shipping Rates & Policies</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  