@import '../../../../assets/ec-variables/colour.scss';
.caption h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: $colourBlack;

  a {
    color: $colourBlue;
    font-weight: bold;

  }
}

.container {
  margin-top: 50px;
}

.login-form {
  background-color:$colourWhite;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
  padding-top: 50px;
  width: 70%;
  margin: auto;

}

.login-form .mb-3 {
  margin-bottom: 20px;
}