<div class="main app-container">
  <h1>
    <b>Y</b>our <b>G</b>ateway to <b>E</b>ndless <b>S</b>hopping
    <b>A</b>dventures
  </h1>

  <div class="caption pe-5">
    <h3 class="pe-5">
      Explore, Shop, and Discover Your World of Possibilities
    </h3>
    <a
      id="login"
      href="login"
      class="btn btn-outline-secondary me-5 pe-5 ps-5 pt-4 pb-4 mt-2"
      >Login
      <i class="fa-solid fa-arrow-right-to-bracket" style="color: #aa5a5a"></i
    ></a>
    <h6 class="pe-5 pt-3">
      Join our family
      <span
        ><a style="text-decoration: none" href="register"
          ><span style="color: green">Click to register</span></a
        ></span
      >
    </h6>
  </div>
</div>
